.pointer {
    cursor: pointer;
}
.bold {
    font-weight: bold !important;
}

input[type = number], .number, input[type = email]{
    font-family: Poppins, cairo, serif !important;
}

select{
    padding-top: 3px !important;
}

.was-validated .custom-select:invalid, .custom-select.is-invalid {
    border-color: #fd397a;
    padding-left: calc((1em + 1.3rem) * 3 / 4 + 2rem);
    background: transparent;
}

.was-validated .custom-select:valid, .custom-select.is-valid {
    border-color: #1dc9b7;
    padding-left: calc((1em + 1.3rem) * 3 / 4 + 2rem);
    background: transparent;
}

#thumb-output {
    width: 150px !important;
    border: 1px solid #DDD;
    margin-top: -4px;
}

#thumb-output img {
    border-style: none;
    padding: 3px;
    width: 100%;
    height: 100%;
}

.file-custom {
    position: absolute;
    width: 58vw;
    height: 2.9rem;
    text-align: right;
    padding-right: 98px;
}

.file-custom:focus {
    width: 50vw !important;
}

.file-custom:before {
    content: "ارفع الصورة";
    height: 2.9rem;
}

.file-custom:after {
    content: "اختار صورة";
}

.nice-select {
    text-align: right !important;
    line-height: 1.5;
}

.nice-select .option {
    text-align: right !important;
}

.nice-select:after {
    left: 12px !important;
    right: 98%;
}

.invalid-feedback {
    padding-right: 47px;
}
.fv-help-block{
    padding-right: 47px;
}
/******************************************/

.dataTables_wrapper .btn.btn-brand.btn-elevate.btn-icon-sm {
    color: #fff !important;
}
 .dataTables_wrapper .btn.btn-secondary {
    background-color: #3f8efc !important;
    border-color: #3f8efc !important;
}

.dataTables_wrapper .btn.btn-secondary i {
    color: #fff  !important;
}

 .dataTables_wrapper .btn.btn-secondary.dropdown-toggle:after {
    color: #fff  !important;
}
.select2-selection__rendered { direction: rtl; }
