/**************** Reservation Home *********************/
.btn.btn-brand.btn-elevate.btn-icon-sm {
    color: #fff !important;
}

#reservation_table_wrapper .btn.btn-secondary {
    background-color: #3f8efc !important;
    border-color: #3f8efc !important;
}

#reservation_table_wrapper .btn.btn-secondary i {
    color: #fff;
}

#reservation_table_wrapper .btn.btn-secondary.dropdown-toggle:after {
    color: #fff;
}

.badge {
    margin-top: 3px
}

.btn {
    margin-top: 5px
}


th, td {
    min-width: 100% !important;
}

td.status {
    min-width: 200px !important;
}

td.reservation_status {
    min-width: 80px !important;
}
td.services {max-width: 150px !important;

}
/**************** Reservation Home *********************/

/**************** Reservation Forms *********************/
label {
    font-size: 1.1rem !important;
}

.form-group label {
    font-size: .9rem;
    font-weight: 400;
    color: #3F4254;
}

.select_service {
    padding-top: 5px;
}

.option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: .7em;
    border: 1px solid #EBEDF3;
    border-radius: 0.675rem;
}

.select2-selection.select2-selection--single {
    margin-bottom: -21px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    direction: rtl !important;
}

.select2.select2-container.select2-container--default.select2-container--focus {
    width: 100% !important;
}

.select2.select2-container.select2-container--default {
    width: 100% !important;
}

.select2-dropdown.select2-dropdown--below {
    top: 22px;
}
/******** Reservation Forms *********/
